@import "../../../../index.variable";

$abs_print-font-size = 11px

#abs_print
    font-family Arial
    font-size $abs_print-font-size
    line-height $abs_print-font-size * 1.8
    border: solid white $abs_print-font-size * 4
    width: $abs_print-font-size * (557/11)
    height: $abs_print-font-size * (736/11)
    overflow: hidden
    box-sizing: border-box
    background white
    letter-spacing $print-out-letter-spacing 
    .abs_title
        font-weight: 600
        margin-bottom: 2*$abs_print-font-size
    .wrapper-author // Authors
        font-weight: 400
        margin-bottom: 0
    .wrapper-affil
        font-size: $abs_print-font-size * (10/11)
    .wrapper-keywords
        font-size: $abs_print-font-size * (10/11)
        font-style: italic
        font-weight: 600
        margin-top: 2*$abs_print-font-size
        margin-bottom: $abs_print-font-size
    .wrapper-abs-content 
        line-height: $abs_print-font-size * 1.8
        text-align: justify
        margin-bottom: 0.5em
        
#abs_print > *
    position relative
    cursor pointer