<div layout-margin="" style="width: 100%; margin:0px;" class="p_absolute">
    <hr md-colors="{color: 'navTheme-primary'}" style="border: solid 2px;">
    <div layout-padding="" layout="column" layout-align="center center">
        <!-- <span flex></span> -->
        <a ng-href="{{$ctrl.METADATA.registerUrl}}"
            target="_blank"
            md-colors="{color: 'grey-800'}" 
            style="text-decoration: none;">Taiwan TBA&copy;</a>
        <!-- <span flex></span> -->
        <span class="md-body-1">Questions? Contact us: ylliu@utexas.edu</span>
    </div>
</div>