<div layout-margin="" style="width: 100%; margin:0px;" class="p_absolute">
    <hr md-colors="{color: 'accent'}" style="border: solid 2px;">
    <div layout-padding="" layout="row" layout-align="center center">
        <!--<img src="assets/img/logo_flow_through.png" alt=""
            style="width:40px" layout-fill>-->
        <a href="https://github.com/Yu-AnChen/flowthrough"
            target="_blank"
            md-colors="{color: 'grey-800'}" 
            style="text-decoration: none;">FLOW THROUGH by Yu-An Chen</a>    
    </div>
</div>