@import "../../../index.variable"

$abs_print-font-size = 11px

md-content
    background  rgba(255, 255, 255, 0.3)

md-content.formScroll
    height: $abs_print-font-size * (736/11) - 64
    
@media (max-width: 959px)
  md-content.formScroll
    height: initial

@media (max-width: 599px)
    #toolbar_email
        max-width 200px
        overflow: hidden;
        text-overflow: ellipsis;
@media (min-height: 600px)
    .progress_indic
        margin-top: 150px
.indent-left
    margin $padding-base 0 $padding-base 4*$padding-base
    
.wrapper-abs_print
    overflow-x auto
    overflow-y hidden
    
#form label.bullet
#form .bullet
    border-left 3px solid #212121
    padding-left $padding-base*1
    box-sizing border-box
    
#form span.bullet
    padding 0 8px
    
.clearfix:after
    display: block
    clear: both
    content: ""
