.no_elevator_talk
    background-color: rgba(0, 0,0,0.6)
    #wrapper-abs_field
        color #E0E0E0
    #abs_print_admin
        h3
            color #FAFAFA
        .wrapper-author
        .wrapper-affil
        .wrapper-keywords
        .wrapper-abs-content 
            color #E0E0E0
.selected_for_talk
    background-color rgba(255,235,59,0.5)
#highlighted-elevator_talk
    display inline-block
    padding 2px 5px;
@media (max-width: 600px)           
    .admin md-toolbar 
        min-height 160px