@import "../../../../index.variable";

$abs_print-font-size = 11px

#wrapper-abs_field
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.010em;
    margin: 0 0 0 0;
    line-height: 1.6em;

#abs_print_admin
    h3
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.010em;
        margin: 0 0 0px 0;
        line-height: 1.2em;
        overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
    .wrapper-author
    .wrapper-affil
    .wrapper-keywords
    .wrapper-abs-content 
        color: rgba(0,0,0,0.54);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.010em;
        margin: 0 0 0 0;
        line-height: 1.6em;

// #abs_print
//     font-family Arial
//     font-size $abs_print-font-size
//     line-height $abs_print-font-size * 1.8
//     border: solid white $abs_print-font-size * 4
//     width: $abs_print-font-size * (557/11)
//     height: $abs_print-font-size * (736/11)
//     overflow: hidden
//     box-sizing: border-box
//     background white
//     letter-spacing $print-out-letter-spacing 
//     .abs_title
//         font-weight: 600
//         margin-bottom: 2*$abs_print-font-size
//     .wrapper-author // Authors
//         font-weight: 400
//         margin-bottom: 0
//     .wrapper-affil
//         font-size: $abs_print-font-size * (10/11)
//     .wrapper-keywords
//         font-size: $abs_print-font-size * (10/11)
//         font-style: italic
//         font-weight: 600
//         margin-top: 2*$abs_print-font-size
//         margin-bottom: $abs_print-font-size
//     .wrapper-abs-content 
//         line-height: $abs_print-font-size * 1.8
//         text-align: justify
//         margin-bottom: 0.5em
        
// #abs_print > *
//     position relative
//     cursor pointer

// #form
//     outline none