#showcase-header-and-nav
    .flow_through_logo
        width: 75px
        margin-top: 18px
        background: no-repeat center center
    
        -webkit-background-size: contain
        -moz-background-size: contain
        -o-background-size: contain
        background-size: contain
    h1
        line-height: 24px
        .md-display-1, .md-display-2
            font-weight: 100
    .pointer_no_outline
        cursor: pointer
        outline: none