<div layout="row" id="showcase-header-and-nav" layout-align="space-between center" flex="95" flex-gt-sm="85" flex-gt-md="75">
    <div layout="row" layout-align="center" layout-margin class="pointer_no_outline"
        ng-click="$ctrl.$state.go('app')">
        <div flex="noshrink" class="flow_through_logo" 
            style="background-image: url(assets/img/logo_flow_through.png)"></div>
        <div layout="column" >
            <h1>
                <span class="md-display-2">FLOW THROUGH</span>
                <br>
                <span class="md-title">abstract submission made easy</span>
            </h1>
        </div>
    </div>
    <div layout="row">
        <!--<md-button>Admin</md-button>
        <md-button>user</md-button>-->
    </div>
</div>

