<div layout="column" layout-sm="column" layout-align="center center"
    ng-if="!$ctrl.dataLoaded">
    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1 progress_indic"></md-progress-circular>
</div>

<div layout="row" layout-align="center center" layout-padding="" class="abs_complete"
    ng-if="$ctrl.dataLoaded">
    
    <md-button
        class="md-accent md-raised md-hue-2 md-raised"
        ng-click="$ctrl.goSignIn()"
        ng-if="!$ctrl.currentUser">
        Check Submission Status
    </md-button>
    
    <div layout="column"
        ng-if="$ctrl.currentUser && !$ctrl.getSubmittedAbs">
        <h3 md-colors="{color: 'orange-800'}" class="md-headline"
            style="margin-top:0px; margin-bottom:16px; text-align:center">
            Looks like you haven't submitted yet.
        </h3>
        <md-button
            class="md-accent md-raised md-hue-2 md-raised"
            ng-click="$ctrl.goAbsForm()">
            Create Abstract
        </md-button>
    </div>
    
    <md-content layout="column" layout-padding="" layout-margin="" flex-xs="100" flex-sm="60" flex="45"
        ng-if="$ctrl.currentUser && $ctrl.getSubmittedAbs">
    		<h2 md-colors="{color: 'grey-800'}" style="margin-bottom:0px">
    		    <span class="form_bullet">Submission Completed</span>
    		</h2>
    		<span class="body_font_spacing" style="padding-left:32px">
    		    <p>Thank you! We have received your submission. </p>
    		    <p>Decisions for elevator talk will be sent out by October 25. </p>
    		    <p>Now, you may want to:</p>
		    </span>
    		<ul class="md-subhead body_font_spacing"
    		    style="margin-top:0px; list-style:none; padding-left:16px; text-align:center;">
    		    <li>
    			    <md-button id="pdf" ng-href="{{$ctrl.pdfLink}}" target="_blank" class="md-accent md-raised">
    			    <!--<md-button id="pdf" ng-click="$ctrl.testLink()" class="md-accent md-raised">-->
    			        Download your abstract
                    </md-button>
			    </li>
    			<li>
    			    <md-button ng-click="$ctrl.goRoot()" class="md-accent md-raised">
    			        Check out the rules again
			        </md-button>
		        </li>
    			<li>
    			    <md-button ng-click="$ctrl.goSignIn()" class="md-accent md-raised">
    			        Edit your abstract
			        </md-button>
		        </li>
    			<li>
    			    <md-button ng-click="$ctrl.signOut()" class="md-accent md-raised">
    			        Leave for Symposium site
			        </md-button>
		        </li>
    		</ul>
            <div class="wrapper-abs_print" hide>
                <abs-print
                   abs-data="$ctrl.form"></abs-print>
            </div>
    </md-content>
</div>