@import "../../../index.variable"



md-content
    background  rgba(255, 255, 255, 0.3)
    
.indent-left
    margin $padding-base 0 $padding-base 4*$padding-base
    
.wrapper-abs_print
    overflow-x auto
    
#form label.bullet
#form .bullet
    border-left 3px solid #212121
    padding-left $padding-base*1
    box-sizing border-box
    
#form span.bullet
    padding 0 8px