@import "../../../index.variable";

// @import 'https://fonts.googleapis.com/css?family=Oswald:700';
h1
    font-family Oswald, 'abadi mt condensed extra bold'
    letter-spacing 0.05em
    background none
    position relative
    .md-headline
        font-size 0.6em
        display inline-block
        >a
            position relative
            z-index 1

#color-bar
    content ""
    width 9em
    height 0.5em
    position absolute
    top 3.3em
    left 10.75em
    z-index 0

h1 .md-headline > a
h1 a.md-display-1
    text-decoration none
    padding-bottom 0px

md-nav-bar .md-button._md-nav-button.md-unselected
    color white

ul._md-nav-bar-list 
    font-family $body-font-set;
    background #a4cc8d
    border-bottom solid white 3px
    span
        font-size 1.1em
        font-weight 400
        letter-spacing $nav-letter-spacing
        text-transform none
md-nav-ink-bar
    display none

    
