@import "../../../index.variable";

// @import 'https://fonts.googleapis.com/css?family=Oswald:700';
.container-header
    .header-hide
        font-size 0.5%
        opacity 0
        position absolute
        top 0

button.md-fab
    padding-top 12px
md-menu-item > a.md-button
    text-align center

// @media (max-width: 599px)
//     md-menu
//         position: absolute
//         top: 5px
//         right: 5px
ng-md-icon.iconInButton
    line-height: initial 