<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" md-theme="navTheme" >
    <md-nav-item md-nav-href="#page5" name="page1" class="md-primary">Home/</md-nav-item>
    <md-nav-item md-nav-href="#page5" name="page2">Speakers/</md-nav-item>
    <md-nav-item md-nav-href="#page5" name="page3">Schedule/</md-nav-item>
    <md-nav-item md-nav-href="#page5" name="page4">Venue/</md-nav-item>
    <md-nav-item md-nav-href="#page5" name="page5">Register/</md-nav-item>
    <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
    <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
    <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
    -->
</md-nav-bar>
<h1 layout="column" layout-padding>
    <div href="#"  class="md-headline"  >
        <div id="color-bar" class="md-headline" md-colors="{background: 'yellow-500'}"></div>
        <a href="#" md-colors="{color: 'primary-50'}">TTBA SYMPOSIUM 2016</a>
    </div>
    <div>
        <a href="#"  class="md-display-1" md-colors="{color: 'primary-800'}">Abstract Submission for Poster Session</a>
    </div>
</h1>