<div layout layout-align="center" class="container-header" md-colors="{background: 'accent'}">
    <div flex="80" flex-xs="95" layout="row" layout-xs="column" layout-align="center end" layout-align-gt-xs="space-between center">
        <div>
            <a ng-href="{{$ctrl.METADATA.registerUrl}}" class="silent-link">
                <!-- <img src="assets/img/header-logo.png" alt="" style="width:100%; padding:5% 1%"> -->
                <h1>2017 BioTech Talent Symposium</h1>
            </a>
            <div class="header-hide">2017 BioTech Talent Symposium</div>
        </div>
        <div flex="none">
            <md-button class="md-primary" ng-href="{{$ctrl.METADATA.registerUrl}}" target="_blank" layout="row" layout-align="center center" >
                <span class="md-subhead">
                    <strong>Event Site</strong>
                </span>
                <span style="padding:3px"></span>
                <ng-md-icon icon="launch" size="24" style="fill: #555" class="iconInButton"></ng-md-icon>
            </md-button>
        </div>
        
        <!-- <nav layout layout-align="end" hide show-gt-sm>
            <span ng-repeat="(name, link) in $ctrl.navigationLinks">
                <md-button class="md-primary" ng-href="{{link}}"><strong>{{name}}</strong></md-button>
                <md-nav-item md-nav-href="#" ui-sref='app.underConstruction({navName: "{{name}}"})' name="{{name}}">{{name}}/</md-nav-item>
            </span>
        </nav>
        <md-menu hide-gt-sm>
            <md-button aria-label="navigation links" class="md-fab md-primary" ng-click="$ctrl.openMenu($mdMenu, $event)">
                <ng-md-icon icon="menu" style="fill:#fff" size="32" md-menu-origin="">
                    <ng-md-icon>
            </md-button>
            <md-menu-content width="4" class="md-primary">
                <md-menu-item ng-repeat="(name, link) in $ctrl.navigationLinks">
                    <md-button ng-href="{{link}}" style="font-size: 18px;">
                        {{name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu> -->
    </div>
</div>

<div layout layout-align="center center" layout-wrap class="container-header" md-colors="{color: 'grey-50'}"
    style="min-height:150px">
    <div flex="80" flex-xs="95" layout layout-align="space-between center">
        <a href="#" class="md-display-1 silent-link">
            Abstract Submission for Poster Session
        </a>
        <md-button class="md-icon-button" ng-click="$ctrl.$state.go('app.admin')" aria-label="go to admin portal">
            <ng-md-icon icon="settings" size="24" style="fill: #555" class="iconInButton"></ng-md-icon>
        </md-button>
    </div>
    <div flex="80" flex-xs="95">
        Powered by <a class="silent-link" ui-sref="app"><img src="assets/img/logo_flow_through_tiny.png" alt="" style="width:1em; position:relative; top:0.2em; margin:0 0.2em">FLOW THROUGH </a>
    </div>
</div>




<!-- <h1 layout="column" layout-padding>
    <div style="max-width:300px">
        <a ng-href={{$ctrl.navigationLinks.Home}}><img src="assets/img/header-logo.png" alt="" style="width:100%"></a>
        <div class="header-hide">TTBA SYMPOSIUM 2017, Austin TX, 11/4-5</div>
    </div>
    <div class="md-display-1">
        <a href="#"  class="md-display-1" md-colors="{color: 'accent-800'}">Abstract Submission for Elevator Talk</a>
    </div>
</h1> -->