$primaryColor = #003657
$bgColor = #ffffff
$darkBgColor = #212121
$lightBgColor = #37474f
$lightTextColor = #f5f5f5
$darkTextColor = #212121

$bg-top-color = #ccd0db
$bg-bottom-color = #d8f1c4
$padding-base = 8px

$body-font-set = 'PT Sans Narrow', sans-serif;
$nav-letter-spacing = 0.075em
$body-letter-spacing = 0.05em
$print-out-letter-spacing = initial

// $font-family = "Courier New", Roboto, Century Gothic, Tahoma, Geneva, Georgia, sans-serif
